@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html, body{
  background-color: var(--bg-colour);
  color: var(--font-mainColour);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root{
  --bg-colour: #181818;
  --bg-subColour: #b87d11;
  /* FONT */
  --header-font: 4.2rem;
  --paragraph-font: 1rem;

  --font-mainColour: #fff;

  --header-fontType: "Russo One", sans-serif;
  --paragraph-fontType: "Noto Sans KR", sans-serif;
}

p{
  font-family: var(--paragraph-fontType);
  font-size: var(--paragraph-font);
  line-height: 1.4;
  text-align: justify;
}
.header-text{
  font-family: var(--header-fontType);
  font-size: var(--header-font);
  line-height: 1;
  padding: 7px 0;
}
.container{
  height: 100vh;
  width: 100vw;
  margin: 30px 5px;
}
.row{
  width: 100%;
  height: 100%;
  padding: 5px 20px 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn{
  width: 140px;
  height: 50px;
  border: 2px solid var(--font-mainColour);
  border-radius: 10px;
  margin: 28px 0 0 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: var(--font-mainColour);
  font-family: var(--paragraph-fontType);
  font-size: var(--paragraph-font);
}

/* HEADER MENU */
.menu-screen{
  background-color: var(--bg-colour);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}
.menu-screen.active{
  left: 0;
}
.menu-screen>ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  font-family: var(--header-fontType);
  font-size: 1.2rem;
}

/* Hamburger Menu */
nav{
  width: 100%;
  background-color: transparent;
  display: flex;
  padding: .7rem;
  padding: 20px;
  margin-bottom: 80px;
}
.hamburger-menu{
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: auto;
}
.hamburger-menu>span{
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger-menu>span:nth-child(1){
  top: 25%;
}
.hamburger-menu>span:nth-child(3){
  top: 75%;
}
.hamburger-menu.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-menu.active span:nth-child(2){
  opacity: 0;
}
.hamburger-menu.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* HomePage */
.home{
  background: url('./components/images/homeBackground.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.intro-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.profile-pic, .about-me-pic{
  width: 320px;
  height: auto;
  margin: 0 auto;
}
.home .profile-pic{
    margin-top: -70px;
}
.profile-pic>img, .about-me-pic>img{
  width: 100%;
  height: 100%;
}

/* ABOUT ME SECTION */
.about-text{
  margin-top: -35px;
}
.socials-row{
  margin-top: 15px;
  display: flex;
  gap: .7rem;
}
.socials-row img{
  width: 50px;
  height: 50px;
}


/* For Bigger Screens */
@media screen and (width>= 1024px) {
    :root{
    /* FONT */
    --header-font: 5.8rem;
    --paragraph-font: 1.3rem;
  }
  nav{
    margin-bottom: 20px;
  }
  .container{
    width: 90%;
    margin: auto auto;
  }
    .row{
    flex-direction: row;
    padding: 5px;
    gap: 5rem;
  }
  .intro-text, .about-text{
    width: 50%;
    margin-right: 30px;
  }
  .about-text{
    margin-top: 50px;
  }
  .profile-pic{
    width: 45%;
  }
  .profile-pic>img{
    height: 95%;
  }
  .home .profile-pic{
    margin-top: -110px;
  }
  .about-me-pic{
    width: 40%;
  }
  .socials-row img{
    width: 60px;
    height: 60px;
  }
}




